In [17]:
import sklearn.datasets
df = sklearn.datasets.load_iris(as_frame=True)['data']
df = df.iloc[:10, :10]
df

   sepal length (cm)  sepal width (cm)  petal length (cm)  petal width (cm)
0                5.1               3.5                1.4               0.2
1                4.9               3.0                1.4               0.2
2                4.7               3.2                1.3               0.2
3                4.6               3.1                1.5               0.2
4                5.0               3.6                1.4               0.2
5                5.4               3.9                1.7               0.4
6                4.6               3.4                1.4               0.3
7                5.0               3.4                1.5               0.2
8                4.4               2.9                1.4               0.2
9                4.9               3.1                1.5               0.1

In [33]:
from IPython.display import display, HTML

def make_pretty(styler):
    styler.set_caption("Weather Conditions")
    styler.background_gradient(axis="index", vmin=0, vmax=1, cmap="YlGnBu", subset=['petal width (cm)'])
    # styler.text_gradient(cmap="Reds")
    return styler

# def pretty_display_df_res(df):
#     display(HTML(
#         df
#         .style
#         .background_gradient(cmap='Reds')
#         .to_html()
#     ))
#     # .highlight_between(left=left, right=1.5, axis=1, props='color:white; background-color:purple;')

def pretty_display_df_res(df):
    h = df.style.pipe(make_pretty).to_html()
    # print(h)
    display(HTML(h))
    # return df
    # .highlight_between(left=left, right=1.5, axis=1, props='color:white; background-color:purple;')

pretty_display_df_res(df)

In [34]:
df.style.pipe(make_pretty)